#insert-content {
  height: calc(100vh - 96px);
  padding: 1rem 2rem;
  overflow: hidden;

  @media screen and (max-width: 991px) {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
  }
}

#insert-content-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  height: 100%;
  //height: auto;
  align-items: center;

  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

#insert-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  height: auto;
}

.insight {
  width: 100%;
  height: 60px;
  //height: 100%;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background: rgba(var(--black), 1);
  border: rgba(var(--black), 0.3) 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: max(1.2rem, 1.5vw);
    font-weight: 300;
    color: rgba(var(--mustard));

    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }

  iframe {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#insert-input-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  height: auto;
}

.input-field {
  background: rgba(var(--black), 0.3);
  border: rgba(var(--black), 0.5) 1px solid;
  outline: none;
  font-size: max(1.2rem, 2vw);
  font-weight: 700;
  color: rgba(var(--primary));
  height: 60px;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);

  &:focus {
    background: rgba(var(--black), 0.3);
    outline: 2px solid rgba(var(--primary), 1);
    font-weight: 700;
  }

  &::placeholder {
    color: rgba(var(--black));
  }
}

.input-field[value=""] {
  font-weight: 300;
  color: rgba(var(--black));
}

#insert-buttons {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  height: 60px;
  //height: auto;
  #insert-reset {
    background: rgba(var(--black));

    &:hover {
      img {
        transition: 0.3s all ease-in-out;
        transform: rotate(90deg);
      }
    }
  }

  #insert-submit {
    background: rgba(var(--secondary));
    color: rgba(var(--mustard));

    &:disabled {
      background: rgba(var(--primary), 1);
      cursor: not-allowed;

      &:hover {
        img {
          animation: shake 0.7s;
        }
      }
    }

    &:disabled::after {
      content: "Fill out all fields";
    }

    &:not(:disabled)::after {
      content: "Submit";
    }
  }
}

.buttons {
  background: rgba(var(--primary));
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 100%;
  color: rgba(var(--mustard));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);

  &:hover {
    background: rgba(var(--black));
  }
}

#insert-view {
  width: 100%;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  color: rgba(var(--mustard));
  background: rgba(var(--black), 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem 2rem;
  z-index: -999;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  img {
    opacity: 0;
    width: 2rem;
    height: 2rem;
  }
}

.message.active {
  opacity: 1;
  z-index: 999;

  img {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}