#navbar {
  background: linear-gradient(
                  -90deg,
                  rgba(245, 245, 245, 0.1),
                  rgba(245, 245, 245, 0)
  );
  border-bottom-right-radius: 5px;
  height: 80px;
  z-index: 333;
}

#navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

#navbar-ul {
  display: flex;
  align-items: center;

  li {
    list-style: none;
    margin: 0 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(90%);
    }

    .nav-item {
      font-size: 1.5rem;
      font-weight: 500;
      color: #f5f5f5;
      text-decoration: none;
      cursor: pointer;
    }

    .nav-item-active {
      font-size: 1.5rem;
      font-weight: 500;
      color: #D6AD60;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

#navbar-logo {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(
                  -90deg,
                  rgba(214, 173, 96, 1),
                  rgba(182, 141, 64, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}