#view-content {
  height: calc(100vh - 80px);
  padding: 1rem 2rem;
  overflow-y: scroll;

  @media screen and (max-width: 991px) {
    padding: 1rem;
  }
}

#view-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

// header
#view-header {
  width: 100%;
  height: fit-content;
}

#view-header-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(2, fit-content(100%));
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;

  @media screen and (max-width: 991px) {
    flex-direction: column;
    justify-content: center;
  }

  p {
    height: 100%;
    background: rgba(var(--black), 1);
    border-radius: 5px;
    border: 1px solid rgba(var(--black));
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(var(--mustard));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
}

#search-input {
  height: 3rem;
  width: 100%;
  background: rgba(var(--black), 0.1);
  border: 1px solid rgba(var(--black), 0.3);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  color: rgba(var(--black));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 991px) {
    width: 100%;
  }

  &:focus {
    outline: 2px solid rgba(var(--black));
    background: rgba(var(--black), 0.3);

    &::placeholder {
      color: rgba(var(--black));
      font-weight: 700;
    }
  }

  &::placeholder {
    color: rgba(var(--black));
  }
}

.header-buttons {
  border: none;
  background: rgba(var(--black));
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  height: 3rem;
  color: rgba(var(--mustard));
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 991px) {
    width: 100%;
  }

  &:hover {
    background: rgba(var(--white)) !important;
  }

  &:focus {
    outline: none;
  }
}

#reset-button {

  &:hover {
    img {
      transition: 0.3s all ease-in-out;
      transform: rotate(90deg);
    }
  }
}

#search-button {
  background: rgba(var(--secondary));
}

#reset-button img {
  transition: rotate 0.3s ease-in-out;
}

#right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#left-side {
  height: 100%;
  width: 100%;
  background: rgba(var(--black), 1);
  border-radius: 5px;
  border: 1px solid rgba(var(--black));
}

// table
#view-table {
  width: 100%;
  table-layout: fixed;
  border-radius: 5px;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
}

#view-table tr {
  transition: all 0.3s ease;
  padding: 0.5rem;
  height: 3rem;
  text-align: left;
}

#view-table thead {
  color: rgba(var(--mustard));
  font-weight: 800;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0.5rem;
  background: rgba(var(--primary), 1);
  overflow: hidden;

  tr {
    height: 3rem;
  }
}

#view-table th {
  padding: 0.5rem;
}

#view-table td {
  color: rgba(var(--black), 1);
  font-size: 1.2rem;
  font-weight: 400;
  overflow: hidden;
  padding: 1rem 0.5rem;
  transition: 0.3s all ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#view-table tbody tr {

  background: rgba(var(--black), 0.1);
  border-bottom: #333333 1px solid;

  &:hover {
    td {
      color: rgba(var(--black));
    }

    background: rgba(var(--black), 0.3);
  }
}

.applied {
  width: 8rem;

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.title {
  width: 20rem;

  @media screen and (max-width: 991px) {
    width: initial;
  }
}

.location {
  width: 8rem;

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.description {
  width: 20rem;

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.url {
  //width: 8rem;
  //display: flex;
  //align-items: center;
  gap: 1rem;
  text-overflow: ellipsis;

  img {
    transition: 0.3s all ease-in-out;
    margin-right: 0.5rem;
  }

  img:hover {
    transform: scale(90%);
    cursor: pointer;
  }

  @media screen and (max-width: 991px) {
    display: none;
  }
}